@import 'varibles';

.header {
    background-color: #3b5998;
    @extend %flexible;
    padding: 0px 10em;
    color: #ffffff;
    
    .logo {
        color: #ffffff;
        height: 30%;
        font: {
            weight: 700;
            size: 2.5em;
        };
        margin-bottom: 1%;
    }
    .login_container {
        @extend %flexible;
        margin-top: 2%;
               
        .login {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 15px;
            
            &__article {
                font-size: 12px;
                margin-bottom: 5px;
            }
            &__input {
                background-color: #faffbd;
                @include border();
                width: 142px;
                height: 14px;
                padding: 3px;
            }
        }
        .password {
            @extend .login;
            &__article {
                font-size: 12px;
                margin-bottom: 5px;
            }
            &__input {
                background-color: #faffbd;
                @include border();
                width: 142px;
                height: 14px;
                padding: 3px;
            }
            .down {
                color: #9cb4d8;
                text-decoration: none;
                margin-top: 2px;
                &:hover {
                text-decoration: underline;
                }
            }
        }
        .submit {
            @extend .login;
            margin-top: 1.5em;
            height: 20px;
            background-color: #4267b2;
            @include border(#29487d);
            color: #ffffff;
            font-weight: 600;
            &:hover {
                background-color: #3b5998;
            }
        }
    }
}