@import 'varibles';

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ebee;
    color: #1d2129;

    &_container {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include border(#ccc);
        border-radius: 4px;
        background-color: #ffffff;
        margin: 7em 0em;


        &-article {
            font-weight: bold;
            width: 90%;
            padding-top: 20px;
            margin-left: 30px;
            padding-bottom: 5px;
            border-bottom: 1px solid #aaa;
        }

        &-text {
            font-size: 12px;
            padding-top: 10px;
            padding-left: 30px;
            margin: 5px;
            margin-left: 10%;
            
        }
        &-input {
            @include border(#aaa);
            width: 50%;
            height: 14px;
            padding: 3px;
            margin-left: 80px;
            color: #aaa;
        }
        &_button {
            background-color: #aaa;
            width: 100%;
            padding: 10px 0px;
            margin-top: 20px;
            background-color: #f2f2f2;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;

            &-search {
                background-color: #4267b2;
                @include border(#29487d);
                border-radius: 2px;
                color: #ffffff;
                margin-right: 10px;
                &:hover {
                    background-color: #3b5998;
                }
            }

            &-cansel {
                background-color: #ffffff;
                @include border(#ccc);
                border-radius: 2px;
                margin-right: 10px;
                padding: 3px;
                &:hover {
                    background-color: #f2f2f2;
                }
            }
        }

    }

    
}


